body {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.container {
    border: 3px solid black;
    margin: 10px;
    width: 60vw;
    height: 60vh;
    display: flex;
}
.expanded {
    width: 50vw;
    height: 70vh;
}
canvas {
    width: auto;
    height: auto;
}